<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="classicalBean" class="laptenkov.genre.ClassicalMusic"></bean>
    <bean id="rockBean" class="laptenkov.genre.RockMusic"></bean>
    <bean id="popBean" class="laptenkov.genre.PopMusic"/>

    <bean id="genreList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="classicalBean" />
                <ref bean="rockBean" />
                <ref bean="popBean" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicBox" class="laptenkov.MusicBox">
        <constructor-arg ref="genreList"/>
    </bean>

</beans>